{% extends 'base.html.twig' %}

{% block title %}Vérification du code{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="container" style="justify-items: center;">

            <h2>Vérification du code</h2>

            <br><br>

            {% include 'part/addFlash.html.twig' %}

            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                </div>

                <div class="row justify-content-md-center mt-3">
                    <button type="submit" class="col-3 button btn-yellow">Vérifier</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}