{% extends 'modalBase.html.twig' %}

{% block modal_title %}Suppression de l'événement : {{ event.nom }}{% endblock %}

{% block modal_content %}
    <h3>Êtes-vous sûr de vouloir supprimer cet évènement de stress ?</h3>
    <br>
    <div class="modal--actions">
        <button type="button"
                data-redirect="{{ path('app_delete_event', {'id': event.id}) }}"
                class="btn btn-danger btn-lg modalImbriquer"
                data-target="modal">
            Supprimer
        </button>
    </div>
{% endblock %}