{% extends 'modalBase.html.twig' %}

{% block modal_title %}{{ titre }}{% endblock %}

{% block modal_content %}
    <div class="text-center modalImbriquer">
        <a href="{{ action }}" class="btn btn-success">{{ btn }}</a>
    </div>
{% endblock %}