{% extends 'base.html.twig' %}

{% block title %}Diagnostic{% endblock %}

{% block body %}
    <div class="dashboard-content">

        {% if diagnostics is null and app.user is not null %}
            <div>
                <p>Vous n'avez pas encore réalisé de diagnostic</p>
            </div>
        {% endif %}

        <!-- Titre principal -->
        <h2 class="diagnostic-title">Échelle de Stress de Holmes et Rahe</h2>

        <!-- Explication de l'échelle -->
        <div class="scale-description">
            <p>
                L’échelle de stress de <strong>Holmes et Rahe</strong> permet d'évaluer le niveau de stress accumulé en fonction des événements
                de vie récents. Chaque événement est associé à un score de stress, et le total permet d’estimer le risque
                de développer une maladie liée au stress.
            </p>
            <p><strong>Interprétation des scores :</strong></p>
            <ul>
                <li><span class="high-stress">Plus de 300 points :</span> Risque très élevé (80%) de troubles liés au stress.</li>
                <li><span class="medium-stress">Entre 100 et 300 points :</span> Risque modéré (51%).</li>
                <li><span class="low-stress">Moins de 100 points :</span> Faible risque (30%).</li>
            </ul>
        </div>

        <!-- Tableau des événements stressants -->
        <section class="diagnostic-history">
            <h3>Principaux Événements Stressants</h3>
            <table>
                <thead>
                <tr>
                    <th>Événement</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    {% for event in eventsByCategory[categorie.id] %}
                        <tr>
                            <td>{{ event.nom }}</td>
                            <td>{{ event.stress }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Bouton pour démarrer le test -->
        <div class="start-test">
            {% if app.user %}
                <a href="{{ path('app_diagnostic_new_user') }}" class="button new-diagnostic-btn" data-target="modal">
                    <i class="fa-solid fa-plus"></i> Démarrer un nouveau test
                </a>
            {% else %}
                <a href="{{ path('app_diagnostic_new') }}" class="button new-diagnostic-btn" data-target="modal">
                    <i class="fa-solid fa-plus"></i> Démarrer un nouveau test
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
